{{#unless displayJobInline}}
  <h3>{{ this.id }}</h3>
{{/unless}}

<h5>Actions</h5>

{{#includes "queued" jobState }}
  <button class="btn btn-success js-fetch-job" data-queue-host="{{ queueHost }}" data-queue-name="{{ queueName }}" data-job-id="{{ this.id }}">
    Fetch
  </button>
{{/includes}}

{{#includes "failed timed_out cancelled" jobState }}
  <button class="btn btn-success js-retry-job" data-queue-host="{{ queueHost }}" data-queue-name="{{ queueName }}" data-job-id="{{ this.id }}">
    Retry
  </button>
{{/includes}}


{{#includes "running" jobState }}
  <button class="btn btn-danger js-fail-job" data-queue-host="{{ queueHost }}" data-queue-name="{{ queueName }}" data-job-id="{{ this.id }}">
    Fail
  </button>
{{/includes}}

{{#includes "running queued failed" jobState }}
  <button class="btn btn-danger js-cancel-job" data-queue-host="{{ queueHost }}" data-queue-name="{{ queueName }}" data-job-id="{{ this.id }}">
    Cancel
  </button>
{{/includes}}

<button class="btn btn-danger js-remove-job" data-queue-host="{{ queueHost }}" data-queue-name="{{ queueName }}" data-job-id="{{ this.id }}">
  Remove
</button>

<div class="row">
  <div class="col-sm-3">
    <h5>State</h5>
    {{this.status}}
  </div>

  <div class="col-sm-3">
    {{#if this.created_at}}
      <h5>Created</h5>
      {{moment this.created_at "llll"}}
    {{/if}}

    {{#if this.started_at}}
      <h5>Started</h5>
      {{moment this.started_at "llll"}}
    {{/if}}

    {{#if this.ended_at}}
      <h5>Ended</h5>
      {{moment this.ended_at "llll"}}
    {{/if}}
  </div>

  <div class="col-sm-3">
    <h5>Retries</h5>
    {{this.retries_attempted}}/{{this.retries}}
  </div>

  <div class="col-sm-3">
    <h5>Permalinks</h5>
    <a href="{{ basePath }}/{{ encodeURI queueHost }}/{{ encodeURI queueName }}/{{ this.id }}" class="btn btn-info">Job {{ this.id }}</a>
    <a href="{{ basePath }}/{{ encodeURI queueHost }}/{{ encodeURI queueName }}/{{ this.id }}?json=true" class="btn btn-info">JSON</a>
  </div>
</div>

<h5>Input</h5>
<pre>{{ json this.input }}</pre>

{{#if this.output }}
<h5>Output</h5>
<pre>{{ json this.output }}</pre>
{{/if}}
